[Unit]
Description=POS Forwarder Config Portal
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/posforwarder/posportal/posportal.py
Restart=always

[Install]
WantedBy=multi-user.target
